:root {
    --main-color: #757575;
    --secondary-color: #212121;
    --tertiary-color: #2196F3;
    --fourth-color: #FFFFFF;
    --fifth-color: #000000;
    --sixth-color: #2F303A;
    --seventh-color: #F5F4FA;
    --eighth-color: rgba(255, 255, 255, 0.6);
    --ninth-color: #AFB1B8;
}