.header {
    border-bottom: 1px solid #ECECEC;
    display:flex;
    align-items: center;
}

.header--container {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.logo-header {

  padding-top: 26px;
  padding-bottom: 26px;
  color:var(--fifth-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;

  @include desktop {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  font-size: 26px;
  line-height: 1.19;
  }
}

.logo-header__web {
    color: var(--tertiary-color);
}

/* site-nav */
.header-nav{
    display: none;
    @include tablet {
        display: flex;
        align-items: center;
    }
}

.site-nav {
    display:flex;
    gap: 50px;
}

.nav-current {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    color: var(--tertiary-color);
    }
}

.nav-portfolio {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    color:var(--tertiary-color);
    }
}

.nav-contacts {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    color:var(--tertiary-color);
    }
}

.nav {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
}

.current{
    color: var(--tertiary-color);

    &::after{
    position: absolute;
    content: '';
    left:0;
    bottom:0;
    width: 100%;
    height: 4px;
    background-color: var(--tertiary-color);
    border-radius: 2px;

    @media screen and (max-width:767px){
        display:none;
    }
    }

    
}