.header {
    border-bottom: 1px solid #ECECEC;
    display:flex;
    align-items: center;
}

.header--container {
    display:flex;
    align-items: center;
}

.logo-header {
//   margin-right: 93px;
  padding-top: 16px;
  padding-bottom: 16px;
  color:var(--fifth-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;

  @include tablet {
  padding-top: 26px;
  padding-bottom: 26px;
  }
}

.logo-header__web {
    color: var(--tertiary-color);
}

/* site-nav */

.site-nav {
    display:flex;
    gap: 50px;
}

.nav-current {
    width: 45px;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    color: var(--tertiary-color);
    }
}

.nav-portfolio {
    width: 72px;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    color:var(--tertiary-color);
    }
}

.nav-contacts {
    width: 64px;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    color:var(--tertiary-color);
    }
}

.nav{
    position: relative;
    padding-bottom: 33px;
}

.current{
    color: var(--tertiary-color);

    &::after{
    position: absolute;
    content: '';
    left:0;
    bottom:0;
    width: 100%;
    height: 4px;
    background-color: var(--tertiary-color);
    border-radius: 2px;
    }
}